:root {
  --text-color: #484848;
  --text-color-dark: #212121;
  --border-color: #d2d2d2;
  --background-color: #f6f9fc;
  --padding: 2rem;
  --padding-container: 1.5rem 2rem;
  --padding-horizontal: 0 2rem;
  --padding-vertical: 2rem 0;
  --dark-background-color: #484848;
  --dark-text-color: #fff;
  --container-width: 960px;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
