.container {
  padding: var(--padding);
  background-color: #e0f2f1;
  min-height: 450px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  margin-bottom: 4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--padding);
}
