.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem;
  background-color: var(--background-color);
  min-height: 450px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--padding);
}
