.container {
  display: flex;
  align-items: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4rem;
}

.description {
  padding: var(--padding-vertical);
  min-height: 200px;
}
